.add_task {
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  gap: 24px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-weight: 700;
      font-size: 61px;
      color: #000000;
    }

    button {
      width: 32px;
      height: 32px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 24px;
      color: #2a3647;
      display: grid;
      place-items: center;

      &:hover {
        background-color: #eeeeee;
        border-radius: 50%;
      }
    }
  }
}

.area_mid {
  display: flex;
  gap: 50px;

  .area_left,
  .area_right {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 440px;
  }

  .seperator {
    border-left: 1px solid #d1d1d1;
  }

  .area_input {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      font-weight: 400;
      font-size: 20px;
      color: #2a3647;
    }

    input {
      box-sizing: border-box;
      padding: 12px 21px;
      border: 1px solid #d1d1d1;
      border-radius: 10px;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 20px;
      height: 48px;
      width: 100%;

      &::placeholder {
        color: #d1d1d1;
      }
    }
  }

  .area_left {
    form > div:nth-of-type(2) input {
      height: 120px;
      align-items: flex-start;
      padding-top: 18px;
    }
  }

  .area_right {
    .priority {
      display: flex;
      flex-direction: row;
      gap: 16px;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 10px;
        gap: 8px;
        height: 56px;
        background: #ffffff;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-size: 20px;
        color: #000000;

        &.active {
          background: #ffa800;
          color: #ffffff;
          font-weight: 700;
        }
      }
    }

    .assigned_to,
    .category {
      button {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        width: 100%;
        height: 48px;
        background: #ffffff;
        border: 1px solid #d1d1d1;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 400;
        color: #000000;
        cursor: pointer;
        text-align: left;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-top: 20px;

  span {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #ff8190;
  }

  div {
    display: flex;
    gap: 25px;

    .button_light {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px;
      gap: 4px;
      width: 126px;
      height: 56px;
      border: 1px solid #2a3647;
      border-radius: 10px;
      background-color: #ffffff;
      color: #2a3647;
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
    }

    .button_dark {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px;
      gap: 4px;
      width: 183px;
      height: 56px;
      background: #2a3647;
      border-radius: 10px;
      border: none;
      color: #ffffff;
      font-size: 21px;
      font-weight: 700;
      cursor: pointer;
    }
  }
}
