@use "../../../../styles/colors.scss";

.add_task {
  display: flex;
  flex-direction: column;
  padding: 48px 110px;
  gap: 24px;
  max-width: 1440px;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span { 
      font-weight: 700; 
     font-size: 61px; 
      color: #000; 
    }
    button {
      width: 32px; 
      height: 32px; 
      border: none;
      background: transparent; 
      cursor: pointer;
      font-size: 24px; 
      color: #2a3647;
      display: grid; 
      place-items: center;
    }
  }
  .area_mid {
    display: flex; 
    gap: 50px;
    .area_left, .area_right {
      display: flex; 
      flex-direction: column; 
      gap: 24px; 
      width: 100%;
      .carlenda p { 
        height: 24px; 
      }
      .carlenda .required { 
        color: colors.$errorRed; 
      }
      form { 
        height: 54px;
        input { 
          height: 54px;
          &:focus { 
            border-color: colors.$buttonBlue; 
          }
        }
      }
      textarea {
        display: flex; 
        align-items: center;
        border: 1px solid #e6e6e6; 
        border-radius: 10px;
        height: 120px; 
        max-width: 559px; 
        padding: 5px 10px;
        &::placeholder { 
          padding-top: 20px; 
          font-size: 20px; 
          color: colors.$bgMiddleGrey; 
        }
        &:focus { 
          border-color: colors.$buttonBlue; 
          outline: none; 
        }
      }
    }
    .area_right {
      .priority {
        display: flex; 
        align-items: center; 
        gap: 16px; 
        max-width: 440px;
        .button_container {
          display: flex; 
          justify-content: center; 
          align-items: center;
          gap: 6px; 
          width: 136px; 
          max-width: 136px; 
          border-radius: 13px;
          background: white; 
          &:hover { 
            cursor: pointer; 
            box-shadow: -3px 5px 8px #aea9a9; 
          }
          &.urgent { 
            background: colors.$bgOrange; 
            span, svg path { color: #fff; fill: #fff; } 
            &:hover { box-shadow: 0; } 
          }
          &.medium { 
            background: colors.$bgYellow; 
            span, svg path { color: #fff; fill: #fff; } 
            &:hover { box-shadow: 0; } 
          }
          &.low { 
            background: colors.$bgGreen; 
            span, svg path { color: #fff; fill: #fff; } 
            &:hover { box-shadow: 0; } 
          }
          .buttons { 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            height: 56px; 
            gap: 8px;
            font-size: 20px; 
            border-radius: 10px; 
            cursor: pointer; 
          }
        }
      }
    }
  }
  .assigned-logos { 
    display: flex; 
    gap: 8px; 
    margin-top: 8px; 
  }
  .sc_logo { 
    width: 32px; 
    height: 32px; 
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-weight: 500; 
    font-size: 14px; 
    color: #fff; 
  }
  .dropdown { 
    background: #fff; 
    max-height: 200px; 
    overflow-y: scroll;
    input[type="text"] { 
      width: 100%; 
      padding: 5px; 
      height: 48px; 
      cursor: pointer; 
    }
    .menu { 
      list-style: none; 
      margin: 0; 
      padding: 0;
      .menu-item { 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        padding: 5px 0; 
        font-size: 20px;
        &:hover { 
          background: colors.$bgLightGrey; 
        }
        input[type="checkbox"] { 
          width: 18px; 
          height: 18px; 
          cursor: pointer; 
        }
      }
    }
  }
  .area_input { 
    display: flex; 
    flex-direction: column; 
    gap: 8px;
    label { 
      font-size: 20px; 
      color: #2a3647;
      .required { 
        color: colors.$errorRed; 
      }
    }
    input { 
      padding: 12px 21px; 
      border: 1px solid colors.$bgMiddleGrey; 
      border-radius: 10px; 
      font-size: 20px; 
      width: 100%; 
      outline: none;
      &:focus { 
        border-color: colors.$buttonBlue; 
      }
      &::placeholder { 
        color: colors.$bgMiddleGrey; 
      }
      &:-webkit-autofill { 
        -webkit-box-shadow: 0 0 0px 1000px white inset; 
        -webkit-text-fill-color: #000; 
        transition: background-color 5000s ease-in-out;
      }
    }
  }
  .inner_subtask .inner_icons { 
    display: flex; 
    align-items: center; 
    gap: 5px; 
    width: 100%; 
    border: 1px solid colors.$bgMiddleGrey; 
    border-radius: 10px; 
    background: colors.$white;
    &:focus-within { 
      border-color: colors.$buttonBlue; 
    }
    .subtask_area { 
      &:focus { border-style: none; } 
    }
  }
  .subtask_list li { 
    display: flex; 
    align-items: center; 
    gap: 0.5rem; 
    &:hover { background: #e6e6e6; }
    .icons { 
      display: flex; 
      gap: 5px; 
      align-items: center; 
      opacity: 0; 
      pointer-events: none; 
      transition: opacity 0.2s ease;
      &.editing { 
        flex-direction: row-reverse; 
        opacity: 1; 
        pointer-events: auto; 
        background: #fff; 
      }
    }
    &:hover .icons { 
      opacity: 1; 
      pointer-events: auto; 
    }
    .task-wrapper { 
      flex: 1; 
      display: flex; 
      align-items: center; 
    }
    input { 
      width: 100%; 
      border: none; 
      background: transparent; 
      font-size: 20px; 
    }
  }
  footer { 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding-top: 20px;
    span { 
      font-family: 'Inter'; 
      font-weight: 400; 
      font-size: 20px; 
      color: black;
      &.required { 
        color: colors.$errorRed; 
      }
    }
    div { 
      display: flex; 
      gap: 25px;
      .button_light, .button_dark { 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        padding: 16px; 
        gap: 4px; 
        border-radius: 10px; 
        cursor: pointer; 
        font-size: 20px; 
        font-weight: 400; 
      }
      .button_light { 
        width: 126px; 
        height: 56px; 
        border: 1px solid #2a3647; 
        background: #fff; 
        flex-direction: row-reverse; 
        &:hover { 
          border-color: colors.$buttonBlue; 
          color: colors.$buttonBlue; 
        } 
      }
      .button_dark { 
        width: 183px; 
        height: 56px; 
        background: #2a3647; 
        color: #fff; 
        font-size: 21px; 
        font-weight: 700; 
        flex-direction: row-reverse; 
        border: none; 
        &:hover { 
          background: colors.$buttonBlue; 
        } 
      }
    }
  }
  .error-border { 
    border: 1px solid red !important; 
    border-radius: 10px; 
  }
  .error-text { 
    color: red; 
    font-size: 12px; 
  }
  .seperator { 
    border-left: 1px solid colors.$bgMiddleGrey; 
  }
}
