.add_task {
  display: flex;
  flex-direction: column;
  padding: 16px;
  header {
    display: flex;
    justify-content: space-between;

    span {
      font-weight: 700;
      font-size: 61px;
    }
  }
}

.area_mid {
  display: flex;
  gap: 8px;

  .area_left {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .area_input {
      display: flex;
      flex-direction: column;

      label {
        font-weight: 400;
        font-size: 20px;
        color: #2a3647;
      }

      input {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 21px;
        gap: 10px;
        border: 1px solid #d1d1d1;
        border-radius: 10px;

        font-weight: 400;
        font-size: 20px;

        width: 320px;
        height: 12px;
      }
    }
  }

  .seperator {
    border: 1px solid #d1d1d1;
  }

  .area_right {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .area_input {
      display: flex;
      flex-direction: column;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
