<div class="board_columns" cdkDropListGroup>
  <ng-container
    *ngFor="
      let column of [
        { title: 'To do', status: 'todo', data: todo$ },
        { title: 'In progress', status: 'in_progress', data: inProgress$ },
        { title: 'Await feedback', status: 'await_feedback', data: awaitFeedback$ },
        { title: 'Done', status: 'done', data: done$ }
      ]
    "
  >
    <div class="board_column">
      <span class="column_title">{{ column.title }}</span>

      <div class="column_drop_area" cdkDropList (cdkDropListDropped)="drop($event, TaskStatus.ToDo)">
        <div
          class="task_card"
          *ngFor="let task of column.data | async"
          cdkDrag
          [cdkDragData]="task"
        >
          <app-task-preview [task]="task" />
        </div>
      </div>
    </div>
  </ng-container>
</div>
