@use "../src/app/styles/colors.scss";
.mat-calendar-body{
    background-color: colors.$white;
   

}
.mat-calendar-controls{
    background-color: colors.$buttonBlue;
    color: colors.$white;
}
body .mat-calendar-arrow{
    fill: colors.$white ;
}
.mat-calendar-table-header{
    background-color: colors.$white ;
}
.mdc-text-field--outlined .mat-mdc-form-field-infix, .mdc-text-field--no-label .mat-mdc-form-field-infix{
    padding-left: 20px ;
}
.mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before,
.mat-mdc-form-field-appearance-outline .mat-mdc-form-field-wrapper,
.mat-mdc-form-field-appearance-outline .mat-mdc-form-field-infix {
  display: none ; 
  padding-bottom: 0 ; 
  content: none ; 
}
body .mat-calendar-controls{
  margin: 0% ; 
  padding: 10px;
}

.cdk-overlay-container .mdc-tooltip  {
  background-color: colors.$white ; 

}

body .mdc-text-field{
    position: static;
    border-radius: 10px;
    border-style: solid;
    border-color: colors.$bgMiddleGrey;
    border-width: thin;
}



body .mat-mdc-form-field
  .mdc-text-field
  .mdc-text-field__input.has-value {
  color: colors.$black;
}

body .mat-mdc-form-field
  .mdc-text-field
  .mdc-text-field__input::placeholder {
  color: colors.$bgMiddleGrey;
  opacity: 1;
}